body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

h1{
    text-align: center;
    font-size: 300%;
    text-decoration: underline;
}

h2{
    text-decoration: underline;
    font-size: 210%;
}

#szszc{
    height: 225px;
    width: 500px;
}

#felepites{
    height: 400px;
    width: 600px;
}

.menud{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.lmenu{
    float: left;
}

.menu{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu:hover:not(.active) {
    background-color: #111;
}

.active{
    background-color: #04AA6D;
}